<ng-content></ng-content>

<br>

<div class="contact-header">
 <h2>Elérhetőségeink</h2> 
</div>



<div class="contact-column">
  <div class="contact-card">
    <mat-card class="div-flex">
      <mat-card-header>
          <mat-card-title>Kapcsolat 1</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
          <p><mat-icon>call</mat-icon> +36 30 424 232 67</p>
          <p><mat-icon>email</mat-icon> kapcs1@gmail.com</p>
      </mat-card-content>
  </mat-card>
  </div>
  
  <div class="contact-card">
    <mat-card class="div-flex">
      <mat-card-header>
          <mat-card-title>Kapcsolat 2</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
          <p><mat-icon>call</mat-icon> +36 30 123 45 67</p>
          <p><mat-icon>email</mat-icon> kapcs2@gmail.com</p>
      </mat-card-content>
  </mat-card>
  </div>
</div>





